@font-face {
  font-family: 'PP Pangram Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/PPPangram/PPPangramSans-Regular.woff') format('woff'),
    url('/fonts/PPPangram/PPPangramSans-Regular.ttf') format('truetype');
}
